body {
    padding: 10px;
    background-color: #243c5a;
  }

  h1 {
    color: white;
  }

  #resultado {
    margin-top: 20px;
    font-weight: bold;
  }

  button {
    margin-top: 15px;
  }

  #quantidadesMaximas {
    display: none;
  }

  .espc {
    padding-right: 15px;
  }

  .card {
    background-color: #cde7f5;
    border: 1px solid #243c5a;
    border-radius: 1em;
    color: #243c5a;
  }

  .custom-button {
    background-color: #007a7a;
    color: #fff;
    border: 1px solid #007a7a;

  }

  @keyframes fadeInRow {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .fade-in-table th,
  .fade-in-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .fade-in-table th {
    background-color: #f2f2f2;
  }
  
  .fade-in-row {
    animation: fadeInRow 0.5s ease-in-out;
  }
  
  .fade-in-table .quantidade {
    text-align: right;
  }
  